.img-code{
    color: gray;
    font-size: 1.2rem;
    background: #eaeaea;
    align-self: baseline;
    border-radius: 2px;
  }

  option{
      color: #000;
  }

  .contact-container__info--address{
      p{
          font-size: 1.3rem;
          span{
              font-size: 1.2rem;
          }
      }
  }