.footer{
    overflow-x: hidden;
    .footer-container{
        background: #30E3CA;
        padding: 5rem 0;

        &__title{
            font-size: 1.5rem;
            color: #000;
            font-weight: 600;
            @media screen and (max-width:768px) {
                font-size: 1.2rem;
            }
        }

        &__list{
           a{
            color: #000;
            text-decoration: none;
            font-size: 1.2rem;
            @media screen and (max-width:768px) {
                font-size: 0.9rem;
            }
           }
        }

    }
    
    .footer-bottom{
        background: #169c8a;
        width: 100vw;
        p{
            color: #ffffff;
        }

        &__copyright{
            font-size: 1.3rem;
        }

        .go-up{
            p{
                font-size: 1rem;
                i{
                    font-size: 1.5rem;
                    cursor: pointer;
                    
                }
            }
        }

        a{
            font-size: 1.2rem;
            color: #ffffff;
            text-decoration: none;
        }


    }
}