.main{
    .main-infos__list{
        height: 27rem;
        &--item{
            background: #eaeaea;
            padding: 1.5rem 3rem;
            border-radius: 12px;
            display: flex;
            cursor: pointer;
            transition: all 0.5s ;
            color: #2f2fa2;

            &:hover{
                background: #f64c72;
                color: #ffffff;
            }
            &:hover a{
                color: #ffffff;
            }
            
        }
        &--link{
            color: #2f2fa2;
            font-size: 1.4rem;
            text-decoration: none;
            @media screen and (max-width:768px) {
                font-size: 1rem;
            }
            @media screen and (max-width:570px) {
                font-size: 0.8rem;
            }
        }
    }

    .main-notifications{
        padding: 0.3rem 1rem;
        background-color: transparent;
        border-radius: 10px;

        &__title{
            font-size: 1.4rem;
            color: #ffffff;

            i{
                color: #f64c72;
            }
            @media screen and (max-width:768px){
                font-size: 1.4rem;
            }
        }

        &__link{
            font-size: 1.4rem;
            color: #ffffff;
            text-decoration: none;
            transition: all 0.5s;
            &:hover{
                color: #f64c72;
            }
            
        }
    }
}