*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    font-size: 16px;
    scroll-behavior: smooth;
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.g-container{
    padding: 0px 7rem;


    @media screen and (max-width:768px) {
        padding: 0px 2rem;
    }
}

body{
    // font-family:  'Roboto', sans-serif !important ;
    // overflow-x: hidden;
    // background: url('/assest/body-bg-16\ \(1\).jpg');
    background: #2f2fa2;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
}
.backdrop {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
  }

// Components

@import "components/header-info";
@import "components/services";
@import "components/swiper";
@import "components/about";
@import "components/contact-us";
@import "components/main-cards";
@import "components/main-infos";
@import "components/detail";
@import "components/media-advice";
@import "components/footer";