@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.g-container {
  padding: 0px 7rem;
}

@media screen and (max-width: 768px) {
  .g-container {
    padding: 0px 2rem;
  }
}

body {
  background: #ffffff;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.header .find {
  color: #000 !important;
}

.header i {
  cursor: pointer;
}

.header .header-mobile__search {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 200;
  display: none;
}

.header .header-mobile__search input {
  border-radius: 10px;
  padding: 2rem 1rem;
  z-index: 200;
}

.header .header-mobile__search i {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.header .header-info__name {
  line-height: 1.6rem;
}

.header .header-info__name--title1 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000;
}

@media screen and (max-width: 480px) {
  .header .header-info__name--title1 {
    font-size: 0.55rem;
  }
}

.header .header-info__name--title2 {
  font-size: 1.9rem;
  font-weight: 600;
  color: #000;
}

@media screen and (max-width: 480px) {
  .header .header-info__name--title2 {
    font-size: 1.1rem;
  }
}

.header .header-info__callcenter {
  line-height: 1.7rem;
}

.header .header-info__callcenter--title {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000;
}

.header .header-info__callcenter--number {
  font-size: 1.21rem;
  font-weight: 600;
  color: #000;
}

.header .header-info__search--box {
  width: 100%;
  padding: 10px;
  outline: none;
  background: none;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #000;
}

.header .header-info__search--box::-webkit-input-placeholder {
  color: #000;
}

.header .header-info__search--box:-ms-input-placeholder {
  color: #000;
}

.header .header-info__search--box::-ms-input-placeholder {
  color: #000;
}

.header .header-info__search--box::placeholder {
  color: #000;
}

.header .header-info__search .search {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}

.header .header-navigation {
  height: 4rem;
  margin-top: 1rem;
  position: relative;
  z-index: 90;
}

.header .header-navigation.sticky {
  position: fixed;
  width: 100%;
  margin-top: 0rem;
  padding: 0.2rem 0;
  top: 0 !important;
  left: 0;
  background: #30E3CA;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .header-navigation .desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header-navigation .desktop .header-navigation__menu--item {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  background: none;
  border-radius: 2px;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.header .header-navigation .desktop .header-navigation__menu--item.active:not(:nth-of-type(7)) {
  background: #30E3CA;
}

.header .header-navigation .desktop .header-navigation__menu--item:not(:nth-of-type(7)):hover {
  background: #30E3CA;
}

.header .header-navigation .desktop .header-navigation__menu--item a, .header .header-navigation .desktop .header-navigation__menu--item .flag-name {
  cursor: pointer;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

@media screen and (max-width: 768px) {
  .header .header-navigation .desktop {
    display: none;
  }
}

.header .header-navigation .fa-times {
  position: absolute;
  top: 10px;
  right: 20px;
}

.header .header-navigation .fa-bars {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.header .header-navigation .fa-search {
  position: absolute;
  left: 2rem;
  top: 1rem;
}

.header .header-navigation .mobile.showMenu {
  left: 0;
}

.header .header-navigation .mobile {
  padding-top: 4rem;
  padding-bottom: 8rem;
  position: fixed;
  top: 0;
  z-index: 100;
  left: -100%;
  width: 100%;
  background: #F5F5F5;
  height: 100vh;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .header-navigation .mobile .header-navigation__menu--item {
  background: none;
  border-radius: 2px;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.header .header-navigation .mobile .header-navigation__menu--item:hover {
  background: none;
}

.header .header-navigation .mobile .header-navigation__menu--item a, .header .header-navigation .mobile .header-navigation__menu--item .flag-name {
  cursor: pointer;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.header .header-navigation .mobile a, .header .header-navigation .mobile .flag-name {
  color: #000;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.header .header-navigation .mobile i.fa-chevron-down {
  color: #000 !important;
}

.header .header-navigation .mobile .callcenter-mobile {
  position: absolute;
  left: 0;
  top: 0;
  background: #30E3CA;
  color: #ffffff;
}

.header .header-navigation__menu .langs {
  background: #ffffff;
  width: 100%;
  border: 1px solid #12658c;
  border-radius: 2px;
  display: none;
}

.header .header-navigation__menu .langs.showLang {
  display: block;
}

.services .services-container {
  position: relative;
}

.services .services-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #30E3CA;
  bottom: 0;
}

.services .services-container__title {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .services .services-container__title {
    font-size: 1rem;
    margin-top: 0.6rem;
  }
}

.services .services-container__adres {
  font-size: 1.2rem;
}

.services .services-container__adres a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .services .services-container__adres {
    font-size: 1rem;
  }
}

.services .services-content span {
  font-size: 2rem;
  color: #000;
  margin-left: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .services .services-content span {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 450px) {
  .services .services-content span {
    font-size: 1.2rem;
  }
}

.services .services-content__social {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.services .services-content__social--link {
  color: #000;
  font-size: 2.8rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .services .services-content__social--link {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 450px) {
  .services .services-content__social--link {
    font-size: 1.2rem;
  }
}

.services .services-content__container {
  display: none;
}

.services .services-content .modal-2 {
  z-index: 200;
  position: fixed;
  width: 90% !important;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.services .services-content .modal-2 .services-content__modal--group__input, .services .services-content .modal-2 .desire {
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  color: #ffffff;
  margin: 15px 0 5px;
  background: transparent;
  outline: none;
  border: 2px solid #ffffff;
}

.services .services-content .modal-2 .services-content__modal--group__label {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: text;
  left: 2rem;
  font-size: 20px;
  color: #ffffff;
  top: 22px;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.services .services-content__modal--action__submit {
  border-radius: 6px;
  border: 1px solid #2d3436;
  background: #2d3436;
  color: #ffffff;
  font-size: 18px;
  padding: 14px 55px;
  font-weight: bold;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  justify-self: baseline;
}

.services .services-content__modal--group {
  position: relative;
}

.services .services-content__modal--group .incorrect-email.show {
  display: block;
}

.services .services-content__modal--group .incorrect-phone.show {
  display: block;
}

.services .services-content__modal--group__error {
  color: red !important;
  display: none;
  font-size: 0.8rem !important;
}

.services .services-content__modal--group__error.show {
  display: block;
}

.services .services-content__modal--group__input:focus ~ .services-content__modal--group__label,
.services .services-content__modal--group__input.active ~ .services-content__modal--group__label {
  top: 2px;
  font-size: 16px;
}

.services .services-content__modal--group__label {
  position: absolute;
  background: #ffffff;
  cursor: text;
  left: 2rem;
  font-size: 20px;
  color: #000;
  top: 22px;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.services .services-content__modal--group select {
  padding: 12px 10px;
}

.services .services-content__modal--group__input,
.services .services-content__modal--group .desire {
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  color: #000;
  margin: 15px 0 5px;
  background: transparent;
  outline: none;
  border: 2px solid #000;
}

.services .services-content__modal--group__input.invalid,
.services .services-content__modal--group .desire.invalid {
  border: 2px solid red;
}

.services .services-content__modal--group__input.desire {
  height: 150px;
  padding: 10px 10px;
}

.owl-carousel .item img {
  height: 100%;
}

.main-slider {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.main-slider .swiper {
  width: 100%;
  height: 20rem;
}

.main-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-infos {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  height: 250px;
}

@media screen and (max-width: 768px) {
  .main-infos {
    height: 200px;
  }
}

.main-infos .swiper {
  width: 100%;
  height: 100%;
}

.main-infos .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-infos .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
}

@media screen and (max-width: 768px) {
  .about h2 {
    font-size: 1.5rem;
  }
}

.about p {
  font-size: 1.2rem;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .about p {
    font-size: 1rem;
    text-align: left;
  }
}

.img-code {
  color: gray;
  font-size: 1.2rem;
  background: #b9b9b9;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  border-radius: 2px;
}

option {
  color: #000;
}

.contact-container__info--address p {
  font-size: 1.3rem;
}

.contact-container__info--address p span {
  font-size: 1.2rem;
}

.main-cards__card {
  cursor: pointer;
  border-radius: 10px;
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 570px) {
  .main-cards__card {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.main-cards__card:hover {
  background-color: #ffffff;
  -webkit-transform: rotate(0.5deg);
          transform: rotate(0.5deg);
}

.main-cards__card--image {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 10rem;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-cards__card--image:hover {
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

@media screen and (max-width: 768px) {
  .main-cards__card--image {
    height: auto;
  }
}

.main-cards__card--description {
  background: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.main .main-infos__list--item {
  padding: 1.2rem 0;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #000;
  background: #30E3CA;
}

.main .main-infos__list--item i {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .main .main-infos__list--item i {
    font-size: 2.5rem;
  }
}

.main .main-infos__list--link {
  color: #000;
  font-size: 1.4rem;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .main .main-infos__list--link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 570px) {
  .main .main-infos__list--link {
    font-size: 1rem;
  }
}

.main .main-notifications {
  padding: 0.3rem 1rem;
  background-color: transparent;
  border-radius: 10px;
}

.main .main-notifications__title {
  font-size: 1.4rem;
  color: #000;
}

.main .main-notifications__title i {
  color: #30E3CA;
}

@media screen and (max-width: 768px) {
  .main .main-notifications__title {
    font-size: 1.4rem;
  }
}

.main .main-notifications__link {
  font-size: 1.4rem;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main .main-notifications__link:hover {
  color: #30E3CA;
}

.detail {
  margin: 2rem 0rem 7rem;
}

.detail .detail-image {
  width: 100%;
  height: 30rem;
}

@media screen and (max-width: 768px) {
  .detail .detail-image {
    width: 100%;
    height: auto;
  }
}

.detail .detail-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.detail .detail-description {
  font-size: 2rem;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .detail .detail-description {
    font-size: 1.2rem;
    text-align: left;
  }
}

.media .media-title {
  background: none;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
}

.media .media-title i {
  color: #30E3CA;
}

.media .media-items {
  background: none;
  color: #000;
}

.media .media-items__item .media-items__image--container {
  height: 12rem;
}

@media screen and (max-width: 768px) {
  .media .media-items__item .media-items__image--container {
    height: auto;
  }
}

.media .media-items__item--description {
  height: 12rem;
}

@media screen and (max-width: 768px) {
  .media .media-items__item--description {
    height: auto;
  }
}

.media .media-items__item--image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

.media .media-items__item--image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.media .media-items__item--title {
  font-size: 1.3rem;
  font-weight: 600;
}

.footer {
  overflow-x: hidden;
}

.footer .footer-container {
  background: #30E3CA;
  padding: 5rem 0;
}

.footer .footer-container__title {
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .footer .footer-container__title {
    font-size: 1.2rem;
  }
}

.footer .footer-container__list a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .footer .footer-container__list a {
    font-size: 0.9rem;
  }
}

.footer .footer-bottom {
  background: #169c8a;
  width: 100vw;
}

.footer .footer-bottom p {
  color: #ffffff;
}

.footer .footer-bottom__copyright {
  font-size: 1.3rem;
}

.footer .footer-bottom .go-up p {
  font-size: 1rem;
}

.footer .footer-bottom .go-up p i {
  font-size: 1.5rem;
  cursor: pointer;
}

.footer .footer-bottom a {
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */