* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.g-container {
  padding: 0px 7rem;
}

@media screen and (max-width: 768px) {
  .g-container {
    padding: 0px 2rem;
  }
}

body {
  font-family: SanFrancisco, Arial, Tahoma, Verdana, sans-serif !important;
  background: url("/assest/body-bg-16 (1).jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header i {
  cursor: pointer;
}

.header .header-mobile__search {
  position: relative;
  display: none;
}

.header .header-mobile__search i {
  position: absolute;
  right: 4rem;
  top: 1.2rem;
}

.header .header-info__name {
  line-height: 1.6rem;
}

.header .header-info__name--title1 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #12658c;
}

@media screen and (max-width: 480px) {
  .header .header-info__name--title1 {
    font-size: 0.55rem;
  }
}

.header .header-info__name--title2 {
  font-size: 1.9rem;
  font-weight: 600;
  color: #12658c;
}

@media screen and (max-width: 480px) {
  .header .header-info__name--title2 {
    font-size: 1.1rem;
  }
}

.header .header-info__callcenter {
  line-height: 1.7rem;
}

.header .header-info__callcenter--title {
  font-size: 0.9rem;
  font-weight: 600;
  color: #12658c;
}

.header .header-info__callcenter--number {
  font-size: 1.21rem;
  font-weight: 600;
  color: #12658c;
}

.header .header-info__search--box {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  background: #eaeaea;
  border-radius: 10px;
}

.header .header-navigation {
  background: #12658c;
  height: 4rem;
  z-index: 100;
}

.header .header-navigation__menu.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header-navigation__menu.desktop .header-navigation__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  border-radius: 8px;
  padding: 1rem 0rem;
}

.header .header-navigation__menu.desktop .header-navigation__submenu--item {
  margin: 10px ,0px;
}

.header .header-navigation__menu.desktop .header-navigation__submenu a, .header .header-navigation__menu.desktop .header-navigation__submenu .flag-name {
  color: #000;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.header .header-navigation__menu.desktop .header-navigation__submenu a:hover, .header .header-navigation__menu.desktop .header-navigation__submenu .flag-name:hover {
  color: lightslategray;
}

.header .header-navigation .fa-times {
  position: absolute;
  top: 10px;
  right: 40px;
}

.header .header-navigation .fa-bars {
  position: absolute;
  right: 2rem;
}

.header .header-navigation .fa-search {
  position: absolute;
  left: 2rem;
  top: 1rem;
}

.header .header-navigation__menu.mobile.showMenu {
  left: 0;
}

.header .header-navigation__menu.mobile {
  padding-top: 4rem;
  padding-bottom: 8rem;
  position: fixed;
  top: 0;
  z-index: 100;
  left: -100%;
  width: 100%;
  background: #eaeaea;
  height: 100vh;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .header-navigation__menu.mobile a, .header .header-navigation__menu.mobile .flag-name {
  color: #000;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.header .header-navigation__menu.mobile a:hover, .header .header-navigation__menu.mobile .flag-name:hover {
  color: #199ad6;
}

.header .header-navigation__menu.mobile .callcenter-mobile {
  position: absolute;
  left: 0;
  top: 0;
  background: #12658c;
  color: #ffffff;
}

.header .header-navigation__menu.mobile .header-navigation__submenu {
  display: none;
}

.header .header-navigation__menu.mobile .header-navigation__submenu a {
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  text-align: center;
}

.header .header-navigation__menu.mobile .header-navigation__submenu a:hover {
  color: #199ad6;
}

.header .header-navigation__menu--item a, .header .header-navigation__menu--item .flag-name {
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.header .header-navigation__menu--item a:hover, .header .header-navigation__menu--item .flag-name:hover {
  color: #199ad6;
}

.header .header-navigation__menu--item .langs {
  background: #ffffff;
  width: 100%;
  border: 1px solid #12658c;
  border-radius: 2px;
  display: none;
}

.header .header-navigation__menu--item .langs.showLang {
  display: block;
}

.swiper {
  width: 100%;
  z-index: -100;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    -webkit-transition: -webkit-transform 100ms;
    transition: -webkit-transform 100ms;
    transition: transform 100ms;
    transition: transform 100ms, -webkit-transform 100ms;
  }
  .swiper-slide:first-child img {
    -webkit-transition: -webkit-box-shadow 500ms;
    transition: -webkit-box-shadow 500ms;
    transition: box-shadow 500ms;
    transition: box-shadow 500ms, -webkit-box-shadow 500ms;
  }
  .swiper-slide.swiper-slide-active:first-child {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    z-index: 2;
  }
  .swiper-slide.swiper-slide-active:first-child img {
    -webkit-box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }
  .swiper-slide:nth-child(2) {
    -webkit-transition: -webkit-transform 100ms;
    transition: -webkit-transform 100ms;
    transition: transform 100ms;
    transition: transform 100ms, -webkit-transform 100ms;
  }
  .swiper-slide.swiper-slide-next:nth-child(2) {
    -webkit-transform: translateX(55%);
            transform: translateX(55%);
    z-index: 1;
  }
  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    -webkit-transform: translateX(-55%);
            transform: translateX(-55%);
  }
}

.owl-carousel .item img {
  height: 100%;
}

.main-cards__card {
  cursor: pointer;
  border-radius: 10px;
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 570px) {
  .main-cards__card {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.main-cards__card--image {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main-cards__card--image:hover {
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.main-cards__card--description {
  background: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}

.main .main-infos__list {
  height: 27rem;
}

.main .main-infos__list--item {
  background: #eaeaea;
  padding: 2rem 3rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #12658c;
}

.main .main-infos__list--item:hover {
  background: #12658c;
  color: #ffffff;
}

.main .main-infos__list--item:hover a {
  color: #ffffff;
}

.main .main-infos__list--link {
  color: #000;
  font-size: 1.4rem;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .main .main-infos__list--link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 570px) {
  .main .main-infos__list--link {
    font-size: 0.8rem;
  }
}

.main .main-notifications {
  padding: 0.3rem 1rem;
  background-color: #eaeaea;
  border-radius: 10px;
}

.main .main-notifications__title {
  font-size: 2.4rem;
}

.main .main-notifications__title i {
  color: #12658c;
}

@media screen and (max-width: 768px) {
  .main .main-notifications__title {
    font-size: 2rem;
  }
}

.main .main-notifications__link {
  font-size: 1.4rem;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main .main-notifications__link:hover {
  color: #12658c;
}

.media .media-title {
  background: #eaeaea;
  border-radius: 10px;
}

.media .media-title i {
  color: #12658c;
}

.media .media-items {
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.media .media-items__item--image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.media .media-items__item--image:hover {
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.media .media-items__item--title {
  font-size: 1.3rem;
  font-weight: 600;
}

.footer {
  overflow-x: hidden;
}

.footer .footer-container {
  background: #2c2a28;
  padding: 5rem 0;
}

.footer .footer-container__title {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .footer .footer-container__title {
    font-size: 1.2rem;
  }
}

.footer .footer-container__list a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .footer .footer-container__list a {
    font-size: 0.9rem;
  }
}

.footer .footer-bottom {
  background: #201f1d;
  width: 100vw;
}

.footer .footer-bottom__copyright {
  font-size: 1.3rem;
}

.footer .footer-bottom .go-up p {
  font-size: 1rem;
}

.footer .footer-bottom .go-up p i {
  font-size: 1.5rem;
  cursor: pointer;
}

.footer .footer-bottom a {
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */